<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171258242703-hf5evlmv2kibfflrh94am4fao95e74j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171258242703-hf5evlmv2kibfflrh94am4fao95e74j8</string>
	<key>API_KEY</key>
	<string>AIzaSyDFkJ13FkUEITu79MxX3IZAQ3NBoEGnr9k</string>
	<key>GCM_SENDER_ID</key>
	<string>171258242703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zungu</string>
	<key>PROJECT_ID</key>
	<string>dependable-link-361609</string>
	<key>STORAGE_BUCKET</key>
	<string>dependable-link-361609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171258242703:ios:5fa8da2f58594fe2ac72fa</string>
</dict>
</plist>